﻿@model UserViewModel;
@{
    ViewData["Title"] = "Edit";
}

<div class="center">
    <form asp-action="Edit">

        <label asp-for="Email"></label>
        <input asp-for="Email" required /><br />

        <label asp-for="UserName"></label>
        <input asp-for="UserName" required /><br />

        <label asp-for="Password"></label>
        <input asp-for="Password" required /><br />

        <label asp-for="Phone"></label>
        <input asp-for="Phone" /><br />

        <input type="submit" value="Save" />
    </form>
</div>
<div class="center">
    <a asp-action="GetAll" asp-controller="User">Back to List</a>
</div>