﻿@model UserViewModel;
@{
    ViewData["Title"] = "EditProfile";
}

<div class="center">
    <form asp-action="EditProfileUser">

        <label asp-for="Email"></label>
        <input asp-for="Email" required /><br />

        <label asp-for="UserName"></label>
        <input asp-for="UserName" required /><br />

        <label asp-for="Password"></label>
        <input asp-for="Password" required /><br />

        <label asp-for="Phone"></label>
        <input asp-for="Phone" required /><br />

        <input type="submit" value="Save" />
    </form>
</div>
<div class="center">
    <a asp-action="GetMyProfileUser">Back to Profile</a>
</div>