﻿@model UserViewModel;
@{
    ViewData["Title"] = "MyProfile";
}
<div>
    <table border="1" align="center">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Options</th>
        </tr>
        <tr>
            <td>@Model.UserName</td>
            <td>@Model.Email</td>
            <td>@Model.Phone</td>
            <td>
                <a asp-action="EditProfile" asp-route-id="@Model.Id">
                    Edit
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="center">
    <a asp-action="AdministratorView" asp-controller="Home">Back to Menu</a>
</div>