﻿@model IEnumerable<UserViewModel>;
@{
    ViewData["Title"] = "View";
}

<div>
    <table border="1" align="center">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Options</th>
        </tr>
        @foreach(var item in Model){
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    Edit
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    Delete
                </a>
            </td>
        </tr>
        }
    </table>
</div>

<div class="center">
    <a asp-action="Create" asp-controller="User">Create</a>
</div>

<div class="center">
    <a asp-action="AdministratorView" asp-controller="Home">Back to Menu</a>
</div>