﻿@{
    ViewData["Title"] = "UserView";
}

<div class="center">
    <div>
        <a asp-action="Logout" asp-controller="Account">Logout</a>
    </div>

    <div>
        <a asp-action="GetMyProfile" asp-controller="User">My profile</a>
    </div>

    <div>
        <a asp-action="GetAll" asp-controller="User">Users</a>
    </div>

    <div>
        <a asp-action="GetMine" asp-controller="Appointment">My Appointments</a>
    </div>

    <div>
        <a asp-action="GetAll" asp-controller="Appointment">All Appointments</a>
    </div>

    <div>
        <a asp-action="GetAll" asp-controller="Activity">Activities</a>
    </div>
</div>