﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="center">
        <a asp-action="Register" asp-controller="Account">Register</a>
    </div>
    <div class="center">
        <a asp-action="Login" asp-controller="Account">Login</a>
    </div>
</div>