﻿@{
    ViewData["Title"] = "UserView";
}
<body>
    <div class="center">
        <div>
            <a asp-action="Logout" asp-controller="Account">Logout</a>
        </div>
        <div>
            <a asp-action="GetMyProfileUser" asp-controller="User">My profile</a>
        </div>
        <div>
            <a asp-action="GetMineUser" asp-controller="Appointment">My Appointments</a>
        </div>
    </div>
</body>