﻿@model RushHour.Web.Models.LoginViewModel;
@{
    ViewData["Title"] = "Login";
}

<div class="center">
    <form method="post" asp-action="Login" asp-controller="Account">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" placeholder="Enter email" required />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" placeholder="Enter password" required />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
            <span asp-validation-for="RememberMe"></span>
        </div>

        <div>
            <input type="submit" value="Login"> 
        </div>
    </form>
</div>

<div class="center">
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>