﻿@model RushHour.Web.Models.RegisterViewModel;
@{
    ViewData["Title"] = "Register";
}
<div class="center">
    <form method="post" asp-action="Register" asp-controller="Account">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" placeholder="Enter name" required />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" placeholder="Enter email" required />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" placeholder="Enter password" required />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" placeholder="Confirm password" required />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <label asp-for="Phone"></label>
            <input asp-for="Phone" placeholder="Enter phone" />
            <span asp-validation-for="Phone"></span>
        </div>
        <div><input type="submit" value="Register"></div>
    </form>
</div>
<div class="center">
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>