﻿@{
    ViewData["Title"] = "Create";
}
@model ActivityViewModel;
<div class="center">
    <form asp-action="Create">

        <label asp-for="Name"></label>
        <input asp-for="Name" required /><br />

        <label asp-for="Duration"></label>
        <input asp-for="Duration" required /><br />

        <label asp-for="Price"></label>
        <input asp-for="Price" required /><br />

        <input type="submit" value="Save" />
    </form>
</div>
<div class="center">
    <a asp-action="GetAll">Back to List</a>
</div>