﻿@model IEnumerable<ActivityViewModel>
@{
    ViewData["Title"] = "ViewAll";
}

<div>
    <table border="1" align="center">
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Price</th>
            <th>Options</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Duration</td>
                <td>@item.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

<div class="center">
    <a asp-action="Create">Create</a>
</div>

<div class="center">
    <a asp-action="AdministratorView" asp-controller="Home">Back to Menu</a>
</div>