﻿@{
    ViewData["Title"] = "Edit";
}
@model AppointmentViewModel;
<div class="center">
    <form asp-action="Edit">

        @Html.HiddenFor(m => m.UserId)

        <label asp-for="StartDateTime"></label>
        <input asp-for="StartDateTime" id="datepicker" required /><br />

        <label asp-for="EndDateTime"></label>
        <input asp-for="EndDateTime" id="datepicker" required /><br />

        <label asp-for="IsCanceled"></label>
        <input type="checkbox" asp-for="IsCanceled" />

        <input type="submit" value="Save" />
    </form>
</div>
<div class="center">
    <a asp-action="GetAll">Back to List</a>
</div>