﻿@model IEnumerable<AppointmentViewModel>;
@{
    ViewData["Title"] = "ViewAll";
}
<div>
    <table border="1" align="center">
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>User</th>
            <th>Activites</th>
            <th>Options</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.StartDateTime</td>
            <td>@item.EndDateTime</td>
            <td>@item.User.UserName</td>
            <td>
                @foreach (var a in item.AppointmentActivities)
                {
                    @a.Activity.Name
                }
            </td>
            <td>
                @if (item.IsCanceled)
                {
                    <p>Canceled</p>
                }
                else
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        Delete
                    </a>
                }
            </td>
        </tr>
        }
    </table>
</div>

<div class="center">
    <a asp-action="AdministratorView" asp-controller="Home">Back to Menu</a>
</div>